.recuperaSenha{
    display: flex;
    position: relative;
    background: radial-gradient(59.14% 70.68% at 50% 50.04%, #CDCDC3 0%, #8E8E8E 100%);
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    padding: 1vw;
    height: 100vh;
    width: 100%;

    .Background{
        width: 100vw;
        position: absolute;
        opacity: 0.5;
        .Padrao{
            width: 100%;
            height: 100vh;
        }
    }

    main{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .recuperaSenhaBlock{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 35vw;
            height: 70vh;
            border-radius: 3vw;
            position: relative;
            background-color: $Cinza;
            .RecupSenhaBox{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 8vh 2vw;
                h2{
                    color: $Azul;
                    width: 100%;
                    height: 5vh;
                    text-align: center;
                    font-size: 2.5vw;
                    font-weight: 800;
                    margin-bottom: 5vh;
                }
                .BlockBox{
                    width: 90%;
                    height: 6vh;
                    display: flex;
                    position: relative;
                    border: solid 1px $Azul;
                    border-radius: 1.5vw;
                    margin: 2vh 5%;
                    input{
                        width: 100%;
                        border: none;
                        font-size: 1vw;
                        font-weight: 200;
                        color: $Preto;
                        background: none;
                        outline: none;
                        padding: 1vh 1.5vw;
                        z-index: 10 !important;
                    }
                    span{
                        position: absolute;
                        left: 1vw;
                        top: 1.5vh;
                        font-size: 1vw;
                        color: $Azul;
                        font-weight: 500;
                        transition: 0.5s;
                        pointer-events: none;
                    }
                    .lengthInput{
                        position: absolute;
                        top: 0;
                        left: 100%;
                        width: 3.75vw;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $Branco;
                        font-size: 1vw;
                        font-weight: 800;
                        margin: 0;
                        padding: 0;
                    }
                    .senhaIcon, .senhaIconAgain{
                        opacity: 0;
                        font-size: 1.75vw;
                        margin-top: 1vh;
                        margin-right: 0;
                        transition: ease-in-out 0.5s;
                    }
                }
                .BlockBox input:focus ~ span, input:valid ~ span{
                    transform:translate(-0.25vw, -3vh);
                    font-size: 1vw;
                    background: $Cinza;
                }
                .senhaInput, .senhaInputNew{
                    &:hover{
                        .senhaIcon, .senhaIconAgain{
                            opacity: 1;
                            font-size: 1.75vw;
                            margin-top: 1vh;
                            margin-right: 1vw;
                            transition: ease-in-out 0.5s;
                        }
                    }
                }
                #ResetSenhaBtn{
                    font-size: 1.35vw;
                    padding: 0.5vh 1.5vw 0.25vh;
                    width: 75%;
                    background: linear-gradient(135deg, #90640B 0%, #E0C667 43.02%, #CC922E 73.96%, #936609 100%);
                    color: $Branco;
                    border-radius: 2vw;
                    border: none;
                    font-weight: 800;
                    margin-top: 4vh;
                    text-align: center;
                    z-index: 99;
                    transition: ease-in-out 0.5s;
                    &:hover{
                        transform:translateY(-5px);
                        font-size: 1.5vw;
                        padding: 0.25vh 1.5vw;
                    }
                }
                p{
                    color: $Azul;
                    padding: 0 2vw;
                    font-size: 1.1vw;
                    font-weight: 500;
                    position: absolute;
                    width: 100%;
                    height: 4vh;
                    bottom: 1vh;
                    left: 0;
                    z-index: 10;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    a{
                        background: none;
                        border: none;
                        font-weight: 800;
                        color: $Azul;
                        margin: 0 0.25vw;
                        &:hover{
                            color: $Ouro;
                        }
                    }
                }
            }
            .msgErro{
                z-index: 999;
                font-size: 1.25vw;
                font-weight: 800;
                position: absolute;
                width: 25vw;
                height: auto;
                min-height: 8vh;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0.75vw;
                bottom: -12vh;
                border-radius: 1.5vw;
                transition: ease-in-out 1s;
                outline: solid $Branco 1px;
                color: $Branco;
                background: $Vermelho;
            }
        }
    }
}