@import 'colors_fonts';

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none;

}
.hide {
    opacity: 0;
    display: none;
}
::-webkit-scrollbar {
    width: 0.5vw;
    background: $AzulEscuro;
}
::-webkit-scrollbar-thumb {
    background: $Azul;
    border-radius: 5vw;
}

@keyframes blink {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    100% {
        transform: scale(1.1);
    }
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: $Main-font;
    color: $Branco;
    width: 100%;
    justify-content: center;
    position: relative;
    .blinking-star {
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: 2;
        animation-fill-mode: both;
        animation-direction: alternate;
        position: relative;
        z-index: 0;
    }

    .star {
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: 2;
        animation-fill-mode: both;
        animation-direction: alternate;
        position: relative;
        width: 1.5vw;
        height: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;


        &::after,
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "\2726";
        }

        &::after {
            background: $Branco;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    header {
        
    }

    main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        section {
            width: 75%;
            height: 100vh;
            z-index: 5;
        }
    }

    footer {
        
    }
}
@import 'Links';
@import 'Login';
@import 'recuperarSenha';
// @import 'TeladeAdm';